.header {
    height: 500px;
}

.header__columns {
    max-width: 1200px;
    min-width: 600px;
    margin: 20px auto;
    flex-direction: row;
}

.header__left {
    justify-content: center;
}

.text__title {
    font-size: 48px;
}

.left__button {
    justify-content: start;
}

.btn-primary {
    width: 200px;
}

.header__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__img {
    width: 270px;
    height: 270px;
}